<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10 form">
                <h1>注册</h1>
                <form action="/auth/auth/toregister" method="post">
                    <p>注册一个账号，请填写如下信息</p>
                    <p><input type="text" placeholder="帐号" class="form-control input-lg" name="username"></p>
                    <p><input type="email" placeholder="邮箱" class="form-control input-lg" name="email"></p>
                    <p><input type="password" placeholder="密码" class="form-control input-lg" name="password"></p>
                    <p><input type="password" placeholder="确认密码" class="form-control input-lg" name="checkpassword"></p>
                    <p>创建一个账号表明您同意我们的服务条款。为你提供更优质的服务。</p>
                    <p><input type="submit" class="btn btn-lg btn-success" value="注册"></p>
                </form>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
    </div>
</section>